p:nth-child(1) {
	font-family: serif;
}

p:nth-child(2) {
	font-family: sans-serif;
}

p:nth-child(3) {
	font-family: "Roboto";
	font-weight: 500;
}

p:nth-child(4) {
	font-family: serif;
	text-transform: uppercase;
	font-style: italic;
}

p:nth-child(5) {
	letter-spacing: -1px;
}

h1	{
	text-shadow:3px 2px red;
}

a	{
	text-decoration: none;
}

strike + p {
	text-indent: 20px;
}