html, body {
	padding: 0; 
	margin: 0;
	box-sizing:border-box;
	background-image: url("bgscot.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

header {
	width: 100vw;
	height: 7vh;
	background-color: rgba(30,144,255,.7);
	color: blue;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}